@font-face {
  font-family: "Basement Grotesque";
  src: url("./BasementGrotesque-Black_v1.202.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Quan Rounded Bold";
  src: url("./QuanRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
} */
